<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/">
        <i class="fab fa-facebook-square logo-rotate"></i>
    </a>
    <button *ngIf="!open" (click)="toogleOpen()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-caret-down logo"></i>
    </button>
    <button *ngIf="open" (click)="toogleOpen()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-caret-down logo-rotate"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link px-2 d-block d-lg-none" routerLink="/stories"><i class="fas fa-comment-alt mr-2"></i>Stories</a>
                <a class="nav-link px-2 d-none d-lg-block" routerLink="/stories" data-toggle="tooltip" data-placement="bottom" title="Stories">
                    <i class="fas fa-comment-alt px-3"></i>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link px-2 d-block d-lg-none" routerLink="/friends"><i class="fas fa-user-friends mr-2"></i>Friends</a>
                <a class="nav-link px-2 d-none d-lg-block" routerLink="/friends" data-toggle="tooltip" data-placement="bottom" title="Friends">
                    <i class="fas fa-user-friends px-3"></i>
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link px-2 d-block d-lg-none" routerLink="/events"><i class="fas fa-calendar-day mr-2"></i>Events</a>
                <a class="nav-link px-2 d-none d-lg-block" routerLink="/events" data-toggle="tooltip" data-placement="bottom" title="Events">
                    <i class="fas fa-calendar-day px-3"></i>
                </a>
            </li>
        </ul>
        <div class="dropdown form-inline my-2 my-lg-0 nav-item px-2">
            <a class="navbar-brand dropdown-toggle text-white align-items-center" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="cut-text">{{userName}}</span>
                <i class="fas fa-user ml-2 logo-user"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="/profile">
                    <span class="btn btn-link w-100"><i class="fas fa-id-card mr-2"></i>Profile</span>
                </a>
                <a class="dropdown-item" routerLink="/">
                    <span class="btn btn-link w-100"><i class="fas fa-cog mr-2"></i>Settings</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/"><span class="btn btn-outline-danger w-100">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="progress">
    <div class="progress-bar bg-warning" id="bar"></div>
</div>