<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">
        <i class="fab fa-facebook-square logo-rotate"></i>
    </a>
    <button *ngIf="!open" (click)="toogleOpen()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-caret-down logo"></i>
    </button>
    <button *ngIf="open" (click)="toogleOpen()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-caret-down logo-rotate"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item active">
                <a class="nav-link px-2" href="/"><i class="fas fa-home mr-2"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#"><i class="fas fa-comment-alt mr-2"></i>Historietas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#"><i class="fas fa-box-open mr-2"></i>Cosas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#"><i class="fas fa-user-friends mr-2"></i>Colegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-2" href="#"><i class="fas fa-calendar-day mr-2"></i>Eventos</a>
            </li>
        </ul>
        <div class="dropdown form-inline my-2 my-lg-0 nav-item px-2">
            <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Name Surname</span>
                <i class="fas fa-user logo-user ml-2"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">
                    <span class="btn btn-link w-100"><i class="fas fa-id-card mr-2"></i>Profile</span>
                </a>
                <a class="dropdown-item" href="#">
                    <span class="btn btn-link w-100"><i class="fas fa-cog mr-2"></i>Settings</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><span class="btn btn-outline-danger w-100">
                    <i class="fas fa-sign-out-alt mr-2"></i>Logout</span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!--Progress bar-->
<div class="progress">
    <div class="progress-bar bg-warning" id="bar"></div>
</div>